.anjuta/
.anjuta_sym_db.db
.cproject
.project
.settings/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
page.anjuta
page.conf
page.desktop
src/.deps/
src/Makefile
src/Makefile.in
src/blur_image_surface.o
src/client_base.o
src/client_managed.o
src/client_not_managed.o
src/client_proxy.o
src/compositor.o
src/config.hxx
src/config.hxx.in
src/config_handler.o
src/display.o
src/grab_handlers.o
src/leak_checker.o
src/main.o
src/notebook.o
src/page
src/page.o
src/page_region_test
src/page_region_test.o
src/page_root.o
src/pixmap.o
src/popup_alt_tab.o
src/simple2_theme.o
src/split.o
src/stamp-h1
src/tiny_theme.o
src/tree.o
src/utils.o
src/viewport.o
src/workspace.o
src/dropdown_menu.o
src/compositor_overlay.o
src/popup_notebook0.o
